{% extends 'modelo.html' %}
{% load widget_tweaks %}
{%block titulo%} Adicionar Trator | GeoSensor {%endblock%}
{%block content%}
<div class="container position-relative">
    <div class="position-absolute top-0 start-50 translate-middle-x">
        <div class="card border-0 m-auto">
            <div class="card-body border-0">
                <h4>Adicionar Imagem</h4>
            </div>
        </div>
        <div class="mb-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="col-auto">
                        <label for="imagem" class="col-form-label">Imagem</label>
                    </div>
                    <div class="col-auto">
                        {%render_field form.img class='form-control' id='imagem'%}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="nome" class="col-sm-2 col-form-label">Nome</label>                 
                    <div class="col-sm-10">
                        {%render_field form.nome class='form-control' id='nome'%}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="north" class="col-sm-2 col-form-label">North</label>
                    <div class="col-sm-10">
                        {%render_field form.north class='form-control' id='north'%}
                    </div>
                </div>
                <div class="row mb-3">
                        <label for="south" class="col-sm-2 col-form-label">South</label>
                    <div class="col-sm-10">
                        {%render_field form.south class='form-control' id='south'%}
                    </div>
                </div>
                <div class="row mb-3">
                        <label for="east" class="col-sm-2 col-form-label">East</label>
                    <div class="col-sm-10">
                        {%render_field form.east class='form-control' id='east'%}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="west" class="col-sm-2 col-form-label">West</label>
                    <div class="col-sm-10">
                        {%render_field form.west class='form-control' id='west'%}
                    </div>                
                </div>       
                <input class="btn btn-success" type="submit" value="Salvar">
                <a class="btn btn-warning" href="{% url 'imagem:imagens' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{%endblock%}