<table class="table table-hover text-light bg-dark">
    <thead>
        <tr>
            <th class="text-center" style="width: 100px;" scope="col">Trator</th>
            <th class="text-center" style="width: 100px;" scope="col">Data</th>
            <th class="text-center" scope="col" style="width: 100px;">H. início</th>
            <th class="text-center" scope="col" style="width: 100px;">H. final</th>
            <th class="text-center" scope="col" style="width: 125px;">H. trabalhadas</th>
            <th class="text-center" scope="col" style="width: 125px;">Maior Veloc.</th>
            <th class="text-center" scope="col" style="width: 125px;">Veloc. média</th>
            <th class="text-center" scope="col" style="width: 100px;">Ação</th>
        </tr>
    </thead>
</table>